# Variáveis de ambiente para o Docker Compose e para os contêineres

# -- Configurações de Portas --
# Porta no SEU HOST (seu computador) para acessar o Nginx (seu frontend/backend)
NGINX_HOST_PORT=80

# Portas internas dos contêineres (devem corresponder ao que é exposto dentro do contêiner)
FRONTEND_CONTAINER_PORT=80 # Porta padrão do Nginx no frontend
BACKEND_CONTAINER_PORT=3001 # Porta que seu NestJS expõe em main.ts
POSTGRES_CONTAINER_PORT=5432 # Porta padrão do PostgreSQL
PGADMIN_CONTAINER_PORT=80 # Porta padrão do PgAdmin (interna)

# Porta no SEU HOST (seu computador) para acessar o PostgreSQL (opcional, para DB client)
POSTGRES_HOST_PORT=5432
# Porta no SEU HOST (seu computador) para acessar o PgAdmin UI
PGADMIN_HOST_PORT=5050

# -- Variáveis do PostgreSQL (Para o serviço 'db') --
POSTGRES_USER=cinemauser
POSTGRES_PASSWORD=cinemapassword_secure
POSTGRES_DB=cinema_db

# -- Variáveis do PgAdmin (Para o serviço 'pgadmin') --
PGADMIN_DEFAULT_EMAIL=admin@cinema.com
PGADMIN_DEFAULT_PASSWORD=adminpassword_secure

# -- Variáveis para o Backend NestJS (Para o serviço 'backend') --
# DATABASE_URL para o backend se conectar ao serviço 'db' do Docker Compose
# O hostname 'db' é o nome do serviço PostgreSQL dentro da rede Docker
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_CONTAINER_PORT}/${POSTGRES_DB}?schema=public

# -- Variáveis para o Frontend React/Vite (Para o serviço 'frontend_build') --
# VITE_API_URL para o frontend se conectar ao backend ATRAVÉS DO NGINX
# O hostname 'nginx' é o nome do serviço Nginx dentro da rede Docker
VITE_API_URL=http://nginx/api